{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:testing-library/recommended"
  ],
  "settings": {
    "import/resolver": {
        "node": {
          "paths": ["src"]
        }
      }
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react",
    "react-hooks",
    "jest",
    "testing-library"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "worker": true,
    "jest": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/test/utils.ts",
          "**/test-setup.ts",
          "**/*.test.tsx",
          "**/*.test.ts"
        ]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "indent": [
      "error",
      4,
      { "SwitchCase": 1 }
    ],
    "brace-style": [ "error", "stroustrup" ],
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "no-plusplus": [
      "error",
      { "allowForLoopAfterthoughts": true }
    ],
    "no-nested-ternary": "off",
    "jsx-quotes": [ "error", "prefer-single" ],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "labelComponents": [],
        "labelAttributes": [],
        "controlComponents": ["TextField", "Input", "Select"], // input components from MUI
        "assert": "either"
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
    "react/jsx-indent": [ "error", 4 ],
    "react/jsx-indent-props": [ "error", 4 ],
    "react/state-in-constructor": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
