* {
	box-sizing: border-box;
}

body {
	background-color: #272B30;
	font-size: 1rem;
	color: #ffe81f;
}

main {
	display: block;
}

.wrapper {
	padding: 0 calc(50% - 450px);
	max-width: 100%;
	@media only screen and (max-width: 800px) {
	    padding: 0 1rem;
	}
}


.grid {
	display: block;
	padding: 0;
	list-style: none;
	margin: 0 -0.5em;
	&__item {
		width: 12em;
		height: 15em;
		display: inline-block;
		vertical-align: top;
		margin: 0.5em;
		text-align: left;
	}
}

@supports (display:grid) {
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
		grid-gap: 0.5em;
		padding: 0;
		list-style: none;
		margin: 0;
		&__item {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: initial;
			max-width: none;
		}
		
	}
}


@keyframes move {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(-350px - 100%));
	}
}

.logo {
    width: 200px;
	margin: 8px auto;
	a {
		display: inline-block;
	}
	a:focus {
		outline: none;
		svg {
			box-shadow: 0 0 10px #ffe81f;
			border-radius: 4px;
			}
	}
	svg {
		width: 100%;
		height: 100%;
	}
}

.icon-loading {
	width: 100%;
	margin: 0 auto;
	animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.root {
	padding: 16px 0;
}

.film-card {
	position: relative;
	//overflow: hidden;
	transform: translate3d(0,0,0);
}

.film-title>span {
	margin-left: 4px;
}

.stage {
	position: relative;
	height: 350px;
	background-image: url('../../img/space_640.png');
	overflow: hidden;
	border: 1px solid #1c1e22;
	border-radius: 8px;
}

.stage__crawl-text {
	position: relative;
	top: 100%;
	padding: 8px;
	font-size: 24px;
	text-align: center;
	line-height: 1.6;
	animation-name: move;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.left-angle,
.right-angle {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 0;
    overflow: hidden;
	border-radius: 4px;
}

.left-angle:before {
	content: "";
	width: 300%;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(90deg, #ffe81f 33.333%, transparent 33.333%, transparent 66.666%, #ffe81f 66.666%);
	transition: transform 0.6s ease-out;
}

.left-angle:after {
	content: "";
    width: 2px;
    height: 300%;
    position: absolute;
    top: -200%;
    left: 0;
    background-image: linear-gradient(#ffe81f 33.333%, transparent 33.333%, transparent 66.666%, #ffe81f 66.666%);
    transition: transform 0.6s ease-out;
}

.right-angle:before {
	content: "";
	width: 300%;
	height: 2px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(90deg, #ffe81f 33.333%, transparent 33.333%, transparent 66.666%, #ffe81f 66.666%);
	transition: transform 0.6s ease-out;
}

.right-angle:after {
	content: "";
    width: 2px;
    height: 300%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(#ffe81f 33.333%, transparent 33.333%, transparent 66.666%, #ffe81f 66.666%);
    transition: transform 0.6s ease-out;
}



.film-info {
	border: 1px solid #ffe81f;
	border-radius: 0.25rem;
}

tbody > .row {
	margin-left: 0;
	margin-right: 0;
}

.spinner {
	display: inline-block;
    position: fixed;
    z-index: 100;
    width: 100vw;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    height: 100vh;
}

.carousel-item img {
	width: 350px;
}