
/* @font-face {
    font-family: 'StarJediHollow';
    src: url('../assets/fonts/Star_Jedi_font/StarJediHollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 */
@keyframes move {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(-350px - 100%));
	}
}

.root {
	padding: 16px 0;
}







.film-card, .chatacter-card {
	&:hover {
		.left-angle:before {
			transform: translateX(-66.666%);
		}
		.left-angle:after {
			transform: translateY(66.666%);
		}
		.right-angle:before {
			transform: translateX(66.666%);
		}
		.right-angle:after {
			transform: translateY(-66.666%);
		}
	}
	&:focus {
		box-shadow: 0 0 10px #ffe81f;
		border-radius: 4px;
		outline: none;		
	}	
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-body {
	
}

.card-chatacter-title {
	text-align: center;
}

.card-chatacter-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film-info {
	border: 1px solid #ffe81f;
	border-radius: 0.25rem;
}

tbody > .row {
	margin-left: 0;
	margin-right: 0;
}


.characters {
	display: flex;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
    list-style-type: none;
	li {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.carousel-item img {
	width: 350px;
}